* {
  font-family: 'Titan One', cursive;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}
