.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;

  &__about {
    padding-top: 125px;
    padding-bottom: 39px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
