.products__list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }
  .products__box  {
    background-color: red;
    border-radius: 24px;
    text-align: center;
    list-style: none;
    margin-bottom: 130px;
    color: #ffffff;
    width: 280px;
    height: 485px;
  }
  .products__box--ice-cream {
    /* dodać var */
    background: #ffb8ca;
  }
  .products__box--ice-coffee {
    background: #f0d1a5;
  }
  .products__box--milkshakes {
    background: #c2e297;
  }
  .products__descriptions {
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0 auto;
    padding: 0 39px;
  }
  .products__descriptions-item {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .products__icon{
    margin-top: -45%;
    padding-bottom: 38px;
  }
  .products__title {
    margin-bottom: 144px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 121px;
  }
  .products__title--color-first {
    /* dodać var  */
    color: #ffa5ba;

  }
  .products__title--color-second {
    /* dodać var  */
    color: #d41443;
    ;

  }