/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@import './base/common';
@import './base/container';
@import './base/section';

@import './components/button';
@import './components/contacts';
@import './components/header';

@import './utils/variables';



