@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.section {
  padding-top: 66px;
  padding-bottom: 66px;
}
.section__contacts {
  background-color: var(--background-color-2);
}

.button {
  height: 44px;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 10px;
}
.button--red {
  color: var(--text-color-1);
  background-color: var(--background-color-9);
}
.button--white {
  color: var(--background-color-9);
  background-color: var(--text-color-1);
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  list-style: none;
}
.contacts__item {
  box-sizing: content-box;
  width: 220px;
  height: 100%;
  padding: 43px 20px 43px 20px;
  background: var(--text-color-1);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin: 10px 30px 10px 30px;
}
.contacts__headings {
  display: none;
}
.contacts__category {
  height: 16px;
  border-radius: 4px;
  color: var(--text-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
}
.contacts__category--cafe {
  width: 80px;
  background: var(--background-color-6);
}
.contacts__category--foodtruck {
  width: 130px;
  background: var(--background-color-7);
}
.contacts__place {
  padding: 25px 0 10px 0;
  color: var(--text-color-4);
}
.contacts__discription {
  color: var(--text-color-5);
  line-height: 18px;
}
.contacts__line {
  display: block;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.contacts__day {
  color: var(--text-color-4);
}
.contacts__time-open {
  padding: 0;
  color: var(--background-color-4);
}
.contacts__tel {
  color: var(--text-color-5);
}
.contacts__mail {
  color: var(--text-color-5);
}
.contacts__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .contacts {
    flex-direction: row;
    font-size: 16px;
    line-height: 30px;
  }
  .contacts__item {
    box-sizing: content-box;
    width: 330px;
  }
  .contacts__category {
    height: 28px;
    font-size: 16px;
    line-height: 30px;
  }
  .contacts__discription {
    line-height: 29px;
  }
  .contacts__button {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    flex-direction: row;
    font-size: 16px;
    line-height: 30px;
  }
  .contacts__item {
    box-sizing: content-box;
    width: 330px;
  }
  .contacts__category {
    height: 28px;
    font-size: 16px;
    line-height: 30px;
  }
  .contacts__discription {
    line-height: 29px;
  }
}
.page-header {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 502px;
  display: flex;
  position: relative;
  background-color: var(--background-color-3);
}

.header-uppercontent {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}
.header-uppercontent__logo {
  margin-left: 20px;
  margin-top: 6px;
}
.header-uppercontent__navigation {
  display: none;
  visibility: hidden;
}
.header-uppercontent__button {
  display: none;
  visibility: hidden;
}

.header-main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.header-main__button {
  height: 24px;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  border-radius: 22px;
  margin-left: 0;
}
.header-main__title {
  z-index: 30;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  text-align: left;
  width: 218px;
  height: 106px;
}
.header-main__title--white {
  text-align: left;
  color: var(--text-color-1);
  font-family: var(--font-family-headline);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header-main__title--red {
  color: var(--text-color-2);
  font-family: var(--font-family-headline);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 45.84px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header-main__img {
  z-index: 20;
  position: absolute;
  left: 36px;
  border-radius: 50%;
  height: 344px;
  background-color: var(--background-color-4);
}
.header-main__img--ice {
  position: relative;
  padding: 9px 94px 75px 81px;
}
.header-main-info {
  position: relative;
  display: none;
  visibility: hidden;
  flex-wrap: wrap;
  flex-direction: column;
}
.header-main-info__box {
  position: relative;
}
.header-main-info__box--1 {
  position: absolute;
  top: 10px;
  right: 34px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-1);
  margin-bottom: 41px;
}
.header-main-info__box--2 {
  position: absolute;
  top: 20px;
  right: 34px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-1);
}
.header-main-info__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: var(--font-family-main);
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
}
.header-main-info__text--16 {
  font-family: var(--font-family-headline);
  color: var(--text-color-2);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header-main-info__text--23 {
  font-family: var(--font-family-headline);
  color: var(--text-color-2);
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.header-lowercontent {
  display: none;
  position: relative;
}
.header-lowercontent__text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: left;
  width: 200px;
  height: 78px;
}
.header-lowercontent__text--description {
  font-family: var(--font-family-main);
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}
.header-lowercontent__button {
  margin-top: 20px;
  align-self: start;
  background-color: var(--background-color-3);
}
.header-lowercontent__img--tasty {
  margin-right: 34px;
}

@media screen and (min-width: 1280px) {
  .page-header {
    min-height: 665px;
  }
  .header-uppercontent {
    margin-bottom: 0;
  }
  .header-uppercontent__logo {
    margin-left: 34px;
    margin-top: 37px;
  }
  .header-uppercontent__navigation {
    z-index: 50;
    display: flex;
    visibility: visible;
  }
  .header-uppercontent__button {
    display: flex;
    visibility: visible;
    margin-right: 34px;
    margin-top: 38px;
  }
  .header-uppercontent .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: var(--text-color-1);
  }
  .header-uppercontent .nav-item {
    text-decoration: none;
    justify-content: space-evenly;
    margin-right: 35px;
    margin-top: 37px;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
  }
  .header-uppercontent .nav__link {
    text-decoration: none;
    color: var(--text-color-1);
  }
  .header-uppercontent .nav__link--activepage {
    color: var(--text-color-2);
  }
  .header-main {
    display: flex;
    visibility: visible;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
  }
  .header-main__title {
    margin-left: 115px;
    margin-top: 84px;
  }
  .header-main__img {
    z-index: 20;
    position: absolute;
    top: -40px;
    left: 475px;
    border-radius: 50%;
    height: 538px;
    width: 538px;
    background-color: var(--background-color-4);
  }
  .header-main__img--ice {
    position: relative;
    padding: 56px 183px 75px 119px;
  }
  .header-main-info {
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-end;
  }
  .header-main-info__box {
    position: relative;
  }
  .header-main-info__box--1 {
    position: absolute;
    top: -120px;
    right: 115px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--text-color-1);
    margin-bottom: 41px;
  }
  .header-main-info__box--2 {
    position: absolute;
    top: -50px;
    right: 115px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--text-color-1);
  }
  .header-main-info__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--font-family-main);
    color: var(--text-color-1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
  .header-main-info__text--16 {
    font-family: var(--font-family-headline);
    color: var(--text-color-2);
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .header-main-info__text--23 {
    font-family: var(--font-family-headline);
    color: var(--text-color-2);
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .header-lowercontent {
    display: flex;
    visibility: visible;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header-lowercontent__text {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-content: flex-start;
    justify-content: left;
    margin-top: 177px;
    margin-right: 300px;
    width: 200px;
    height: 78px;
  }
  .header-lowercontent__text--description {
    font-family: var(--font-family-main);
    color: var(--text-color-1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .header-lowercontent__text--button {
    margin-top: 20px;
    align-self: start;
  }
  .header-lowercontent__img--milk {
    margin-top: 121px;
    margin-left: 77px;
    margin-bottom: 45px;
  }
  .header-lowercontent__img--tasty {
    z-index: 50;
    margin-top: 100px;
    padding-top: 100px;
    margin-right: 109px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page-header {
    min-height: 399px;
  }
  .header-uppercontent__button {
    display: flex;
    visibility: visible;
  }
  .header-main-info {
    display: flex;
    visibility: visible;
  }
  .header-lowercontent {
    display: flex;
  }
}
:root {
  --font-family-main: "DM Sans", sans-serif;
  --font-family-headline: "Titan One", cursive;
  --text-color-1: #ffffff;
  --text-color-2: #d41443;
  --text-color-3: #ffa5ba;
  --text-color-4: #000000;
  --text-color-5: #907e82;
  --background-color-1: #e5e5e5;
  --background-color-2: #fff5f6;
  --background-color-3: #ffb8ca;
  --background-color-4: #ffa5ba;
  --background-color-5: #e17992;
  --background-color-6: #f0d1a5;
  --background-color-7: #c2e297;
  --background-color-8: #fafafa;
  --background-color-9: #d41342;
  --icon-background-color: #fea5bb;
}/*# sourceMappingURL=main.css.map */