<section class="about">
  <div class="container section__about">
      <p class="about__headline about__headline--tradition">tradition and love</p>
      <h2 class="about__headline about__headline--how-its-made">how it's made</h2>
      <div class="about__container">
      <img
        class="about__picture"
        src="./images/mobile/about-mobile@1x.png"
        srcset="
      ./images/mobile/about-mobile@1x.png     280w,
      ./images/mobile/about-mobile@2x.png     560w,
      ./images/tablet/about-tablet@1x.png     340w,
      ./images/tablet/about-tablet@2x.png     780w
      ./images/desktop/about-desktop@1x.png    516w,
      ./images/desktop/about-desktop@2x.png    1032w
    "
        alt="picture of cow and jug of milk"
        sizes="(min-width:1280px) 516px, (min-width:768px) calc(50vw - 92px), (min-width:300px) calc(100vw - 40px)"
      />
      <div class="about__tekst-section">
      <p class="about__text about__text--first">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text about__text--second">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <div class="about__div-for-button">
      <button class="about__button button--white button" >Read more <span class="about__mark">&gt;</span></button>
      </div>
    </div>
    </div>
    </section>
  
