<section class="container">
  <div class="advantages">
    <div class="advantages__title">
      <h2>Advantages</h2>
    </div>
    <ul class="advantages__list">
      <li class="advantages__box" >
        <h3 class="advantages__style">721</h3>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__box" >
        <h3 class="advantages__style">16kg</h3>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__box" >
        <h3 class="advantages__style">84</h3>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
