<section class="container">
  <div class="advantages">
    <div class="advantages__title">
      <h2>Advantages</h2>
    </div>
    <ul class="advantages__list">
      <li>
        <h3>721</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <h3>16kg</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <h3>84</h3>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
