<section id="about" class="advantages section section__advantages">
  <div class="container">
      <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__box advantages__box--fist">
        <h3 class="advantages__style">721</h3>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__box advantages__box--second" >
        <h3 class="advantages__style">16kg</h3>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__box advantages__box--third" >
        <h3 class="advantages__style">84</h3>
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
