<body>
  <section class="section section__contacts">
    <div class="container">
      <h2 class="contacts__headings">Contacts</h2>
      <ul class="contacts">
        <li class="contacts__item">
          <span class="contacts__category contacts__category--cafe">CAFE</span>
          <h4 class="contacts__place">Chicago</h4>
          <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span class="contacts__line"></span>
          <h4 class="contacts__day">Monday - Friday</h4>
          <p class="contacts__time-open">06:00 AM - 10:00 PM</p>
          <h4 class="contacts__day">Saturday - Sunday</h4>
          <p class="contacts__time-open">08:00 AM - 16:00 PM</p>
          <span class="contacts__line"></span>
          <a href="tel:+61(0)383766284" class="contacts__tel">+61(0) 383 766 284 </a>
          <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__category contacts__category--foodtruck">FOODTRUCK</span>
          <h4 class="contacts__place">Los Angeles</h4>
          <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span class="contacts__line"></span>
          <h4 class="contacts__day">Monday - Friday</h4>
          <p class="contacts__time-open">06:00 AM - 10:00 PM</p>
          <h4 class="contacts__day">Saturday - Sunday</h4>
          <p class="contacts__time-open">08:00 AM - 16:00 PM</p>
          <span class="contacts__line"></span>
          <a href="tel:+61(0)383766284" class="contacts__tel">+61(0) 383 766 284 </a>
          <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__category contacts__category--cafe">CAFE</span>
          <h4 class="contacts__place">New York</h4>
          <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span class="contacts__line"></span>
          <h4 class="contacts__day">Monday - Friday</h4>
          <p class="contacts__time-open">06:00 AM - 10:00 PM</p>
          <h4 class="contacts__day">Saturday - Sunday</h4>
          <p class="contacts__time-open">08:00 AM - 16:00 PM</p>
          <span class="contacts__line"></span>
          <a href="tel:+61(0)383766284" class="contacts__tel">+61(0) 383 766 284 </a>
          <a href="mailto:noreply@envato.com" class="contacts__mail">noreply@envato.com</a>
        </li>
      </ul>
      <div class="contacts__button">
        <button class="button button--red" type="button">Our Locations ></button>
        <button class="button button--white" type="button">Franchise > </button>
      </div>
    </div>
  </section>
