<section class="slider section section__customer-reviews container">
  <div class="slider__avatar">
    <img
      alt="user picture"
      class="slider__picture"
      src="./images/avatar-1@1x.jpg"
      srcset="./images/avatar-1@2x.jpg 2x"
    />
  </div>
  <div class="slider__user-review">
    <p class="slider__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <div class="slider__gradient"></div>
  </div>
  <div class="slider__three-dots">
    <svg class="slider__red-dot">
      <use href="./images/icons.svg#icon-red-dot"></use>
    </svg>
    <svg class="slider__red-dot">
      <use href="./images/icons.svg#icon-red-dot"></use>
    </svg>
    <svg class="slider__red-dot">
      <use href="./images/icons.svg#icon-red-dot"></use>
    </svg>
  </div>
  <h2 class="slider__user-name">Emily, Los Angeles</h2>
  <div class="slider__slider">
    <svg class="slider__house-icon">
      <use href="./images/icons.svg#icon-house"></use>
    </svg>
    <svg class="slider__dot-icon">
      <use href="./images/icons.svg#icon-grey-dot"></use>
    </svg>
    <svg class="slider__dot-icon">
      <use href="./images/icons.svg#icon-grey-dot"></use>
    </svg>
  </div>
</section>
