<footer class="footer">
    <div class="container footer--container">
        <div class="footer__header">
                <p class="footer__header--item1">homemade ice cream made</p>
                <p class="footer__header--item2">with passion</p>
        </div>
           <ul>
            <li class="footer__text">Warszawa, Aleje Jerozolimskie 21
          </li>
          <li class="footer__text">
          <a class="footer__link" href="mailto:info@example.com">info@example.com</a>
          </li>
          <li class="footer__text">
          <a class="footer__link" href="tel:+48111111111"> +48 111 111 111</a>
          </li>
          </ul>
        </div>