<footer class="footer">
    <div class="container footer--container">
        <div class="footer__header">
                <p class="footer__header--item1">homemade ice cream made</p>
                <p class="footer__header--item2">with passion</p>
        </div>
        <div class="footer__social">
                <ul class="footer__social-list">
                        <li class="footer__social-item">
                                <a class="footer__social-icon">
                                <svg class="footer__social-svg">
                                        <use href=""></use>
                                </svg>
                                </a>
                        </li>
                        <li class="footer__social-item">
                                <a class="footer__social-icon">
                                <svg class="footer__social-svg">
                                        <use href=""></use>
                                </svg>
                                </a>
                        </li>
                        <li class="footer__social-item">
                                <a class="footer__social-icon">
                                <svg class="footer__social-svg">
                                        <use href=""></use>
                                </svg>
                                </a>
                        </li>
                </ul>
        </div>
           <ul class="footer__contact">
            <li class="footer__contact-item">
                <a class="footer__contact-link" href="tel:+61 (0) 383 766 284">
                    Feel free to contact<span class="footer--span">+61 (0) 383 766 284</span>
                </a>
            </li>
           </ul>
           <div class="copyright">
                <p class="copyright-text">
                     © 2019 - IceCream.</p>
                <p class="copyright-text"> All Rights Reserved. </p>
           </div>
        </div>