<section class="section gallery__section">
    <div class="container">
        <h2 class="gallery__title">Gallery</h2>
        <div class="gallery">
            <img class="gallery__img" src="./images/mobile/gallery-mob.jpg" 
    srcset="./images/mobile/gallery-mob.jpg 320w,
    ./images/mobile/gallery-mob@2x.jpg 640w, 
    ./images/tablet/gallery-tab.jpg 768w,
    ./images/tablet/gallery-tab@2x.jpg 1536w,
    ./images/desktop/gallery-des.jpg 1280w,
    ./images/desktop/gallery-des@2x.jpg 2580w" alt="gallery"
                 />
        </div>
    </div>
</section>