<section class="section gallery__section">
    <div class="container">
        <h2 class="gallery__title">Gallery</h2>
        <div class="gallery">

            <img class="grid-item" src="./images/gallery/gallery1.png" />
            <div class="grid-item--column2">
                <img class="grid-item gallery__img" src="./images/gallery/gallery2.png" />
                <img class="grid-item gallery__img" src="./images/gallery/gallery3.png" />
            </div>
            <div class="grid-item--column2"><img class="grid-item grid-item--big" src="./images/gallery/gallery4.png" />
                <img class="grid-item gallery__img" src="./images/gallery/gallery5.png" />
            </div>

            <div class="grid-item--column2"><img class="grid-item" src="./images/gallery/gallery6.png" />
                <img class="grid-item gallery__img" src="./images/gallery/gallery7.png" />
            </div>
            <div class="grid-item--column3"><img class="grid-item" src="./images/gallery/gallery8.png" />
                <img class="grid-item gallery__img" src="./images/gallery/gallery9.png" />
            </div>
            <img class="grid-item gallery__img" src="./images/gallery/gallery10.png" />

        </div>
    </div>
</section>

<!-- <img class="gallery__img" src="./images/mobile/gallery-mob.jpg" srcset="./images/mobile/gallery-mob.jpg 320w,
    ./images/mobile/gallery-mob@2x.jpg 640w, 
    ./images/tablet/gallery-tab.jpg 768w,
    ./images/tablet/gallery-tab@2x.jpg 1536w,
    ./images/desktop/gallery-des.jpg 1280w,
    ./images/desktop/gallery-des@2x.jpg 2580w" alt="gallery" /> -->