<section class="section gallery__section">
  <div class="container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery">

      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160, "gutter": 5}'>
        <div class="grid">
          <div class="grid-item"><img src="./images/gallery/gallery1.png"/></div>
          <div class="grid-item grid-item--size2"><img src="./images/gallery/gallery2.png"/></div>
          <div class="grid-item"><img src="./images/gallery/gallery3.png"/></div>
          <div class="grid-item grid-item--size3"><img src="./images/gallery/gallery4.png"/></div>
          <div class="grid-item"><img src="./images/gallery/gallery5.png"/></div>
          <div class="grid-item"><img src="./images/gallery/gallery6.png"/></div>
          <div class="grid-item"><img src="./images/gallery/gallery7.png"/></div>
          <div class="grid-item "><img src="./images/gallery/gallery8.png"/></div>
          <div class="grid-item"><img src="./images/gallery/gallery9.png"/></div>
          <div class="grid-item"><img src="./images/gallery/gallery10.png"/></div>
        </div>

      </div>
    </div>
  </div>
</section>