<header class="page-header">
    <div class="container">
        <div class="header-uppercontent">
            <!--    Ice Craam Logo      -->
            <div class="logo">
                <img class="logo__img" src="./images/mobile/logo-mob.png" srcset="./images/mobile/logo-mob.png 199w,
                ./images/mobile/logo-mob@2x.png 398w,
                ./images/tablet/logo-tab.png 200w,
                ./images/tablet/logo-tab@2x.png 400w,
                ./images/desktop/logo-des.png 201w,
                ./images/desktop/logo-des@2x.png 402w" alt="Ice Craam Logo"
                    sizes="(min-width:1280px) 199px, (min-width:768px) 199px, (min-width:320px) 199px" />
            </div>

            <!--    Navigation section  -->
            <nav class="navigation">
                <menu class="nav">
                    <li class="nav-item">
                        <a class="nav__link nav__link-activepage" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" href="#about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" href="#made">How it's made?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" href="#products">Our products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" href="#contact">Contact</a>
                    </li>
                </menu>
            </nav>
            <!--    Hamburger section   -->

            <!--    Buy now button      -->
            <button class="buy-now" type="button">Buy now</button>
        </div>

        <div class="header-main">
            <div>
                <h1 class="header-main__title">ICE CREAM MADE WITH <span
                        class="header-main__title--color">PASSION</span></h1>
                <button class="header-main__button--products" type="button">Products</button>
                <button class="header-main__button--made" type="button">How it's made?</button>
            </div>

            <div class="header-main-info">
                <p class="header-main__text"><span class="header-main__text--color">16</span>cafes</p>
                <p class="header-main__text"><span class="header-main__text--color">23</span>food tracks</p>
            </div>
        </div>

        <div class="header-lowercontent">
            <img class="header-lowercontent__img--milk" src="./images/tablet/milk-tab.png" srcset="./images/tablet/milk-tab.png 124w,
                        ./images/tablet/milk-tab@2x.png 248w,
                        ./images/desktop/milk-des.png 188w,
                        ./images/desktop/milk-des@2x.png 296w" alt="A pitcher of milk"
                sizes="(min-width:1280px) 188px, (min-width:768px) 124px">
            <div class="header-lowercontent__text">
                <p class="header-lowercontent__text--description">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Recusandae
                    suscipit velit dolor ad eligendi reiciendis perferendis incidunt dolores doloremque blanditiis?</p>
                <button class="header-lowercontent__text--button" type="button">Arrow</button>
            </div>
            <img class="header-lowercontent__img--tasty" src="./images/tablet/tasty-tab.png" srcset="./images/tablet/tasty-tab.png 168w,
                ./images/tablet/tasty-tab@2x.png 336w,
                ./images/desktop/tasty-des.png 293w, 
                ./images/desktop/tasty-des@2x.png 586w" alt="Lady with ice cream"
                sizes="(min-width:1280px) 293px, (min-width:768px) 168px">
        </div>
    </div>
</header>