
<div class="backdrop">
    
    <div class="modal-btn">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="icon-close-modal" width="14" height="14">
                <use href="./images/icons.svg#icon-mobile_close_x">
                </use>
            </svg>
        </button>

        <div class="header-uppercontent__logo">
                <img class="logo__img" src="./images/mobile/logo-mob.png" srcset="./images/mobile/logo-mob.png 199w,
                ./images/mobile/logo-mob@2x.png 398w,
                ./images/tablet/logo-tab.png 200w,
                ./images/tablet/logo-tab@2x.png 400w,
                ./images/desktop/logo-des.png 201w,
                ./images/desktop/logo-des@2x.png 402w" alt="Ice Craam Logo"
                    sizes="(min-width:1280px) 199px, (min-width:768px) 199px, (min-width:320px) 199px" />
        </div>
        
        <p class="modal-btn__title">Create your order </p>
        <div class="modal-btn__group" role="group">
            <p class="modal-btn__group-title"> Choose product</p>
            <ul class="modal-btn__list">
            <li class="modal-bth__style">
                    <input type="checkbox" name="product" value="ice-cream" id="ice-cream">
                    <label for="ice-cream">Ice cream</label>
                </li>
             <li class="modal-bth__style">
                    <input type="checkbox" name="product" value="ice-coffee" id="ice-coffee">
                    <label for="ice-cream">Ice coffee</label>
                </li>
                <li class="modal-bth__style">
                    <input type="checkbox" name="product" value="milkshakes" id="milkshakes">
                    <label for="ice-cream">Milkshakes</label>
                </li>
             </ul>
        </div>


         <div class="group" role="group">
            <p class="modal-btn__group-title"> Choose Size Ice Coffe or Milkshakes</p>
            <ul class="modal-btn__list">
                <li class="modal-bth__style">
                    <input type="radio" name="size1" value="small" id="small">
                    <label for="small">Small(200ml)</label>
                </li>
                <li class="modal-bth__style">
                    <input type="radio" name="size1" value="medium" id="medium">
                    <label for="medium">Medium(300ml)</label>
                </li>
                <li class="modal-bth__style">
                    <input type="radio" name="size1" value="large" id="large">
                    <label for="large">Large(400ml)</label>
                </li>
            </ul>
            </div>

          <div class="group" role="group" >
            <p class="modal-btn__group-title"> Choose Size Ice Cream</p>
            <ul class="modal-btn__list">
                <li class="modal-bth__style">
                    <input type="radio" name="size2" value="small" id="small">
                    <label for="small">Small(250ml)</label>
                </li>
                <li class="modal-bth__style">
                    <input type="radio" name="size2" value="medium" id="medium">
                    <label for="medium">Medium(500ml)</label>
                </li>
                <li class="modal-bth__style">
                    <input type="radio" name="size3" value="icee-box" id="icee-box">
                    <label for="ice-box">Ice-Box(1000ml) </Ice-box></label>
                </li>
            </ul>
            </div>

            <div class="group" role="group" >
            <p class="modal-btn__group-title"> Choose toppings</p>
            <ul class="modal-btn__list">
                <li class="modal-bth__style">
                    <input type="radio" name="toppings" value="Whipped cream" id="Whipped cream">
                    <label for="Whipped cream">Whipped cream</label>
                </li>
                <li class="modal-bth__style">
                    <input type="radio" name="toppings" value="Fresh fruit" id="Fresh fruit">
                    <label for="Fresh fruit">Fresh fruit</label>
                </li>
                <li class="modal-bth__style">
                    <input type="radio" name="toppings " value="Chocolate " id="Chocolate ">
                    <label for="Chocolate">Chocolate </Ice-box></label>
                </li>
            </ul>
        </div>
        <div class="modal-btn__submit">
            <label for="user-comment" class="modal-btn__group-title modal-bth__style--item">Your comments</label>
        <textarea name="user-comment" id="user-comment" class="modal-bth__comment" placeholder="comments"></textarea>

        <button type="submit" class="header-uppercontent__button button button--white">Buy now</button>
        </div>
    </div>
</div>