<style>
  .products-list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }
  .products-list__box {
    background-color: red;
    border-radius: 24px;
    text-align: center;
    list-style: none;
    margin-bottom: 130px;
    color: #ffffff;
    width: 280px;
    height: 485px;
  }
  .products-list__box-ice-cream {
    /* dodać var */
    background: #ffb8ca;
  }
  .products-list__box-ice-coffee {
    background: #f0d1a5;
  }
  .products-list__box-milkshakes {
    background: #c2e297;
  }
  .products-list-descriptions {
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0 auto;
    padding: 0 39px;
  }
  .products-list-descriptions-item {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .product-list__icon {
    margin-top: -45%;
    padding-bottom: 38px;
  }
  .products-headings {
    margin-bottom: 144px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 121px;
  }
  .products-headings__color-first {
    /* dodać var  */
    color: #ffa5ba;
  

  }
  .products-headings__color-second {
    /* dodać var  */
    color: #d41443;
    ;

  }
</style>

<section>
  <div class="products-headings">
    <h2 class="products-headings__color-first">100% natural</h2>
    <h1 class="products-headings__color-second">products</h1>
  </div>

  <ul class="products-list">
    <li class="products-list__box products-list__box-ice-cream">
      <img
        class="product-list__icon"
        src="../images/products/mobile/product-mobile1.png"
        alt="ice cream"
      />
      <h2 class="products-list-descriptions-item">ice cream</h2>
      <!-- kropeczki -->

      <p class="products-list-descriptions">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <!-- strzałka  -->
    </li>

    <li class="products-list__box products-list__box-ice-coffee">
      <img
        class="product-list__icon"
        src="../images/products/mobile/product-mobile2.png"
        alt="ice coffee"
      />
      <h2 class="products-list-descriptions-item">ice coffee</h2>

      <p class="products-list-descriptions">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </li>

    <li class="products-list__box products-list__box-milkshakes">
      <img
        class="product-list__icon"
        src="../images/products/mobile/product-mobile3.png"
        alt="milkshakes"
      />
      <h2 class="products-list-descriptions-item">milkshakes</h2>
      <!-- kropeczki -->
      <p class="products-list-descriptions">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <!-- strzałka  -->
    </li>
  </ul>
</section>

<!-- kropeczki -->
<a>
  <svg>
    <use href=""></use>
  </svg>
</a>

<!-- strzałka  -->
<svg>
  <use href=""></use>
</svg>
