

<section class="container">
  <div class="products">
    <div class="products__title">
      <p class="products__title--color-first">100% natural</p>
      <h2 class="products__title--color-second">products</h2>
    </div>

    <ul class="products__list">
      <li class="products__box products__box--ice-cream">
        <p class="products__descriptions-item">ice cream</p>
        <!-- kropeczki -->

        <p class="products__descriptions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <button class="button products__button" type="button">
          <img src="/images/products/arrow-right.png" alt="button" >
         </button>
      </li>

      <li class="products__box products__box--ice-coffee">
        <p class="products__descriptions-item">ice coffee</p>

        <p class="products__descriptions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
         <button class="button products__button" type="button">
          <img src="/images/products/arrow-right.png" alt="button">
         </button>
      </li>

      <li class="products__box products__box--milkshakes">
        <p class="products__descriptions-item">milkshakes</p>
    
        <p class="products__descriptions">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
         <button class="button products__button" type="button">
          <img src="/images/products/arrow-right.png" alt="button">
         </button>
      </li>
    </ul>
  </div>
</section>

