.about {
  background: var(--background-color-2);
  width: 100%;

  &__columns-container {
    //tablet and desktop
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__headline {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family-headline);
    padding-left: 61px;
    padding-right: 61px;

    &--tradition {
      color: var(--text-color-3);
      font-size: 18px;
      line-height: 1.666x;
      padding-bottom: 15px;
      // tablet
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 26px;
        line-height: 1.145px;
      }
      //  desktop
      @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.145px;
      }
    }

    &--how-its-made {
      color: var(--text-color-2);
      text-align: center;
      text-transform: uppercase;
      font-family: var(--font-family-headline);
      font-size: 34px;
      line-height: 1.147x;
      //padding-bottom: 26px;
      // tablet
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 48px;
        padding-bottom: 0px;
      }
      //  desktop
      @media screen and (min-width: 1280px) {
        font-size: 58px;
        padding-bottom: 0px;
      }
    }
  }

  &__picture {
    margin-bottom: 46px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    // tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: 39px;
      margin-right: 0px;
    }
    //desktop
    @media screen and (min-width: 1280px) {
      margin-left: 112px;
      margin-right: 0px;
    }
  }

  &__tekst-section {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    //tablet and desktop
    @media screen and (min-width: 768px) {
      margin-top: 100px;
    }
    // tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding-right: 36px;
      padding-left: 17px;
    }
    // dekstop
    @media screen and (min-width: 1280px) {
      padding-right: 117px;
      padding-left: 74px;
      margin-top: 106px;
    }
  }

  &__text {
    font-family: var(--font-family-main);
    font-size: 12px;
    line-height: 1.62;
    font-weight: 500;
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 14px;
      line-height: 1.76;
    }

    &--first {
      color: var(--text-color-4);
      margin-bottom: 47px;
      word-wrap: break-word;
      //  desktop
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.76;
      }
    }

    &--second {
      color: var(--text-color-5);
      margin-bottom: 17px;
      //tablet
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 62px;
      }
      // desktop
      @media screen and (min-width: 1280px) {
        font-size: 14px;
        line-height: 1.94;
        margin-bottom: 45px;
      }
    }
  }

  &__div-for-button {
    padding-right: 94px;
  }

  &__button {
    margin-left: 0px;
    margin-top: 0px;
    width: 176px;
  }

  &__mark {
    margin-left: 13px;
    font-size: 16px;
  }
}
