.advantages{

&__title {
    display: none;
}
&__list {
    display: flex;
    flex-direction: column
    ;
}}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  // tablet
  .advantages__list{
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  //  desktop
  .advantages__list{
    flex-direction: row;
  }
}