.button {
  height: 44px;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  cursor: pointer;

  padding: 0 17px;
  margin: 10px 10px;
  &--red {
    padding: 0 30px;
    color: var(--text-color-1);
    background-color: var(--background-color-9);
    transition: var(--transition);
    transition-property: background-color, box-shadow;
    &:hover {
      box-shadow: 2px 3px 24px -7px rgba(212, 31, 31, 1);
      background-color: #c7133e;
    }
  }
  &--white {
    padding: 0 30px;
    color: var(--background-color-9);
    background-color: var(--text-color-1);
    transition: var(--transition);
    transition-property: background-color, box-shadow;
    &:hover {
      box-shadow: 2px 3px 24px -7px rgba(212, 31, 31, 1);
      background-color: #ecebeb;
    }
  }
}
