.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  font-family: var(--font-family-main);
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  list-style: none;
  margin-top: -160px;
 

  &__item {
    width: calc(100vw - 40px);
    height: 100%;
    padding: 43px 20px 43px 20px;
    background: var(--text-color-1);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
  }
  &__headings {
    display: none;
  }

  &__category {
    height: 16px;
    border-radius: 4px;
    color: var(--text-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;

    &--cafe {
      width: 80px;
      background: var(--background-color-6);
    }
    &--foodtruck {
      width: 130px;
      background: var(--background-color-7);
    }
  }

  &__place {
    padding: 25px 0 10px 0;

    color: var(--text-color-4);
  }
  &__discription {
    color: var(--text-color-5);
    line-height: 18px;
  }
  &__line {
    display: block;
    width: 100%;
    padding-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__day {
    color: var(--text-color-4);
  }
  &__time-open {
    padding: 0;
    color: var(--background-color-4);
  }
  &__tel {
    color: var(--text-color-5);
    line-height: 18px;
  }
  &__mail {
    color: var(--text-color-5);
    line-height: 18px;
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  //  desktop
  .contacts {
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    line-height: 30px;
    &__item {
      width: 330px;
      margin: 10px 15px 10px 15px;
    }
    &__category {
      height: 28px;
      font-size: 16px;
      line-height: 30px;
    }
    &__discription {
      line-height: 29px;
    }
    &__button {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 86px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  // tablet
  .contacts {
    flex-direction: row;
    font-size: 14px;
    line-height: 26px;
    &__item {
      width: calc(33.333vw - 20px);
      margin: 0 10px;
    }
    &__category {
      height: 28px;
      font-size: 16px;
      line-height: 30px;
    }
    &__discription {
      line-height: 29px;
    }
    &__button {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 86px;
    }
    &__tel {
      line-height: 26px;
    }
    &__mail {
      line-height: 26px;
    }
  }
}
