.slider {
  display: flex;
  flex-direction: column;

  &__avatar {
    align-self: center;
    height: 85px;
  }

  &__user-review {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 29px;
    margin-bottom: 30px;
    background-color: var(--background-color-8);
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    font-family: var(--font-family-main);
  }
  &__text {
    text-align: center;
    padding: 43px 60px 26px 61px;
  }

  &__user-review::before {
    content: '';
    background-image: url('../images/sprite-for-slider.svg#icon-red-dot');
    display: inline-block;
    position: absolute;
    width: 54px;
    height: 40px;
    top: 28px;
    left: 61px;
    fill: black;
    // z-index: 1001;
    padding-left: 0;
  }
  &__three-dots {
    display: flex;
    justify-content: center;
  }
  &__user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    align-self: center;
  }
  &__slider {
    display: flex;
    justify-content: center;
  }
}
