.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-main);

  &__avatar {
    height: 85px;
  }

  &__user-review {
    position: relative;
    width: 280px;
    height: 100%;
    margin-top: 29px;
    margin-bottom: 30px;
    background-color: var(--background-color-8);
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    font-family: var(--font-family-main);
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-top: 19px;
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 2.16;
      width: 620px;
    }
    //  desktop
    @media screen and (min-width: 1280px) {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.86;
      width: 926px;
    }
  }

  &__text {
    text-align: center;
    padding: 43px 66px 26px 57px;
    position: relative;
    z-index: 1000;
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 47px 80px 34px 80px;
    }
    //  desktop
    @media screen and (min-width: 1280px) {
      padding: 47px 89px 39px 87px;
    }
  }

  &__user-review::before {
    display: inline-block;
    content: '';
    background-image: url('../images/99.png');
    background-size: contain;
    position: absolute;
    width: 54px;
    height: 40px;
    top: 28px;
    left: 61px;
    z-index: 0;
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      top: 30px;
      left: 40px;
    }
  }

  &__gradient {
    position: absolute;
    top: 30px;
    left: 50px;
    display: inline-block;
    width: 180px;
    height: 255px;
    background-image: repeating-linear-gradient(
      180deg,
      transparent 0,
      transparent 30px,
      #e1e1e1 0,
      #e1e1e1 31px
    );
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 524px;
      height: 106px;
      top: 45px;
      left: 60px;
    }
    //  desktop
    @media screen and (min-width: 1280px) {
      width: 813px;
      height: 62px;
      top: 47px;
      left: 59px;
    }
  }

  &__three-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 18px;
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 14px;
    }
    //  desktop
    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }
  &__red-dot {
    width: 4px;
    height: 4px;
  }

  &__user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    //align-self: center;
    margin-bottom: 30px;
    //tablet
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 35px;
      font-size: 16px;
    }
    //desktop
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      margin-bottom: 35px;
    }
  }

  &__slider {
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  &__house-icon {
    width: 13px;
    height: 12px;
    fill: var(--background-color-9);
  }
  &__dot-icon {
    width: 12px;
    height: 12px;
    fill: var(--background-color-11);
  }
}