.footer--container{
    width: 100%;
}
.footer__header{
    display: flex;
}
.footer__header--item1{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding-left: 22px;
    color: var(--text-color-3);
}
.footer__header--item2{
    font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 39px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--text-color-2);
}
.footer__social{

}
.footer__contact{
    display: flex;
}
.footer__contact-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    text-align: right;
    color: var(--text-color-4);
}
.footer--span {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    text-align: right;
    color: var(--text-color-2);
}