.gallery {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        display: none;
    }
    &__section {
        background-image: linear-gradient(180deg,#fff5f6 42%,#fff 0)
    }
    &__img {
        max-width: 110%;
    }
}