.page-header {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 489px;
  display: flex;
  position: relative;
  background-color: var(--background-color-3);
  margin-bottom: 66px;
}

.header-uppercontent {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;

  &__logo {
    margin-top: 6px;
  }

  &__navigation {
    display: none;
    visibility: hidden;
  }
  &__button {
    display: none;
    visibility: hidden;
  }

  &__hamburger {
    display: flex;
    align-content: center;
    justify-content: end;
    visibility: visible;
  }
}

.header-main {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  &__button {
    height: 24px;
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--font-family-main);
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    border-radius: 22px;
    margin-left: 0;
    padding: 0;
    height: 24px;
    width: 82.8px;
  }

  &__title {
    z-index: 30;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    width: 218px;
    height: 106px;

    &--white {
      text-align: left;
      color: var(--text-color-1);
      font-family: var(--font-family-headline);
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
    &--red {
      color: var(--text-color-2);
      font-family: var(--font-family-headline);
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 45.84px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }

  &__img {
    z-index: 20;
    position: absolute;
    left: 15px;
    bottom: -125px;
    border-radius: 50%;
    height: 344px;
    width: 285px;
    object-fit: none;
    background-color: var(--background-color-4);
    &--ice {
      position: relative;
      padding: 9px 0px 75px 81px;
    }
  }

  &-info {
    position: relative;
    display: none;
    visibility: hidden;
    flex-wrap: wrap;
    flex-direction: row;

    &__box {
      position: relative;
      &--1 {
        position: absolute;
        top: -90px;
        right: 20px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: var(--text-color-1);
        margin-bottom: 41px;
      }
      &--2 {
        position: absolute;
        top: -30px;
        right: 20px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: var(--text-color-1);
      }
    }

    &__text {
      position: absolute;
      right: 5px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      font-family: var(--font-family-main);
      color: var(--text-color-1);
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      text-align: right;
      &--16 {
        font-family: var(--font-family-headline);
        color: var(--text-color-2);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
      &--23 {
        font-family: var(--font-family-headline);
        color: var(--text-color-2);
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
    }
  }
}

.header-lowercontent {
  display: none;
  position: relative;
  margin-right: 34px;
  margin-left: 34px;
  align-items: center;
  justify-content: flex-start;

  &__text {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;

    &--description {
      font-family: var(--font-family-main);
      color: var(--text-color-1);
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 150%;
      width: 114px;
      height: 48px;
      align-self: flex-end;
      margin-top: 0px;
    }
  }

  &__button {
    margin-top: 20px;
    align-self: flex-start;
    margin-left: 0;
    padding-left: 0;
    background-color: transparent;
  }

  &__img {
    &--tasty {
      margin-left: auto;
      z-index: 50;
      align-self: flex-end;
    }
  }
}

@media screen and (min-width: 1280px) {
  //desktop

  .header-uppercontent {
    margin-bottom: 0;

    &__logo {
      margin-left: 34px;
      margin-top: 37px;
    }

    &__navigation {
      z-index: 50;
      display: flex;
      visibility: visible;
    }

    &__button {
      display: flex;
      visibility: visible;
      margin-right: 34px;
      margin-top: 38px;
      height: 44px;
      width: 159px;
    }
    &__hamburger {
        display: none;
        visibility: hidden;
      }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      text-decoration: none;
      color: var(--text-color-1);

      &-item {
        text-decoration: none;
        justify-content: space-evenly;
        margin-right: 35px;
        margin-top: 37px;
        font-family: var(--font-family-main);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
      }

      &__link {
        text-decoration: none;
        color: var(--text-color-1);
        transition: var(--transition);
        transition-property: color, text-shadow;

        &:hover {
            text-shadow: 5px 4px 7px rgba(150, 91, 91, 1);
          color: #c7133e;
        }
      }
    }
  }

  .header-main {
    display: flex;
    visibility: visible;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    text-align: center;

    &__title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 115px;
      padding-top: 84px;
      margin-top: 0px;
      align-items: center;
      text-align: justify;
      width: 300px;

      &--white {
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
      &--red {
        font-weight: 400;
        font-size: 58px;
        line-height: 52.49px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 0;
      width: 138px;
      height: 40px;
      font-family: var(--font-family-main);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }

    &__img {
      z-index: 20;
      position: absolute;
      top: -40px;
      left: 475px;
      border-radius: 50%;
      height: 538px;
      width: 538px;
      background-color: var(--background-color-4);

      &--ice {
        position: relative;
        padding: 56px 183px 0px 119px;
      }
    }

    &-info {
      display: flex;
      visibility: visible;
      justify-content: center;
      align-items: center;
      position: relative;
      align-self: flex-end;

      &__box {
        display: flex;
        justify-content: center;
        align-self: end;
        align-items: center;
        position: relative;
        align-self: flex-end;

        &--1 {
          position: absolute;
          top: -50px;
          right: 35px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: var(--text-color-1);
          margin-bottom: 50px;
        }

        &--2 {
          position: absolute;
          top: 30px;
          right: 35px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: var(--text-color-1);
        }
      }

      &__text {
        right: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-family: var(--font-family-main);
        color: var(--text-color-1);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        padding-top: 5px;
        &--16 {
          font-family: var(--font-family-headline);
          color: var(--text-color-2);
          font-style: normal;
          font-weight: 400;
          font-size: 46px;
          line-height: 53px;
          text-align: right;
          letter-spacing: 0.04em;
          text-transform: uppercase;
        }

        &--23 {
          font-family: var(--font-family-headline);
          color: var(--text-color-2);
          font-style: normal;
          font-style: normal;
          font-weight: 400;
          font-size: 46px;
          line-height: 53px;
          text-align: right;
          letter-spacing: 0.04em;
          text-transform: uppercase;
        }
      }
    }
  }

  .header-lowercontent {
    display: flex;
    visibility: visible;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 0;
    margin-left: 34px;
    margin-right: 34px;
    padding-top: 115px;

    &__button {
      margin-left: 0;
      padding: 0;
      align-self: flex-start;
    }

    &__text {
      z-index: 50;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: flex-start;
      align-content: flex-start;
      justify-content: left;
      text-align: start;
      margin-top: 150px;
      margin-right: 350px;

      &--description {
        font-family: var(--font-family-main);
        color: var(--text-color-1);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        width: 200px;
        height: 78px;
      }
    }

    &__img {
      &--milk {
        margin-top: 60px;
        margin-left: 0;
        padding-bottom: 45px;
      }
      &--tasty {
        margin-top: 120px;
        margin-right: 0;
        padding-left: 100px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  //tablet

  .page-header {
    min-height: 399px;
  }
  .header-uppercontent {
    margin-left: 34px;
    margin-right: 34px;
    margin-bottom: 0;

    &__button {
      z-index: 50;
      display: flex;
      visibility: visible;
      margin-top: 38px;
      width: 160px;
      height: 44px;
    }

    &__logo {
      margin-top: 37px;
    }
    &__hamburger {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 25px;
        margin-right: 30px;
        margin-left: auto;
        visibility: visible;
        z-index: 500;
      }
  }

  .header-main {
    display: flex;
    visibility: visible;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 34px;
    margin-right: 34px;
    align-self: start;

    &__title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 15px;
      justify-content: flex-start;

      &--white {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
      &--red {
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 30.77px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-right: 8px;
      width: 62.4px;
      min-height: 24px;
      font-family: var(--font-family-main);
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 0;
    }

    &__img {
      z-index: 20;
      position: absolute;
      top: -42px;
      left: 260px;
      right: 137px;
      border-radius: 50%;
      height: 322px;
      width: 324px;
      background-color: var(--background-color-4);

      &--ice {
        position: relative;
        padding: 32px 110px 0px 71px;
      }
    }

    &-info {
      display: flex;
      visibility: visible;
      justify-content: center;
      align-items: center;
      position: relative;
      align-self: flex-end;

      &__box {
        display: flex;
        justify-content: center;
        align-self: end;
        align-items: center;
        position: relative;
        align-self: flex-end;
      }

      &__text {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        font-family: var(--font-family-main);
        color: var(--text-color-1);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
        padding-top: 2px;
      }
    }
  }

  .header-lowercontent {
    display: flex;
    margin-left: 34px;
    margin-right: 34px;
    padding-top: 20px;

    &__text {
      padding-top: 25px;
    }

    &__img {
      padding-top: 50px;
      &--milk {
        padding-bottom: 28px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  //mobile
  .header-main {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
  
      &__img {
        z-index: 20;
        position: absolute;
        left: 15px;
        bottom: -125px;
        border-radius: 50%;
        height: 344px;
        width: 342px;
        object-fit: none;
        background-color: var(--background-color-4);
  
        &--ice {
          position: relative;
          padding: 9px 0px 75px 81px;
        }
      }
    }
}
