.page-header {
    margin: 0 auto;
    padding: 0 auto;
    min-height: 502px;
    display: flex;
    position: relative;
    background-color: var(--background-color-3);
}

.header-uppercontent{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;

    &__logo{
        margin-left:20px;
        margin-top: 6px;
    }

    &__navigation {
            display: none;
            visibility: hidden;
        }
    &__button{
        display: none;
        visibility: hidden;
    }
}

.header-main{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &__button{
        height: 24px;
        width: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-family: var(--font-family-main);
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        border-radius: 22px;
        margin-left: 0;
    }

    &__title{
        z-index: 30;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        width: 218px;
        height: 106px;

        &--white{
            text-align: left;
            color: var(--text-color-1);
            font-family: var(--font-family-headline);
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }

        &--red{
            color: var(--text-color-2);
            font-family: var(--font-family-headline);
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 45.84px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }
    }

    &__img{
        z-index: 20;
        position:absolute;
        left: 36px;
        border-radius: 50%;
        height: 344px;
        background-color: var(--background-color-4);
        &--ice{
            position: relative;
            padding:9px 94px 75px 81px ;
        }
    }

    &-info{
        position: relative;
        display: none;
        visibility: hidden;
        flex-wrap: wrap;
        flex-direction: column;

        &__box{
            position: relative;
            &--1{
                position: absolute;
                top: 10px;
                right: 34px;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                background-color: var(--text-color-1);
                margin-bottom: 41px;
            }
            &--2 {
                position: absolute;
                top: 20px;
                right: 34px;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                background-color: var(--text-color-1);
            }
        }

        &__text{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            font-family: var(--font-family-main);
            color: var(--text-color-1);
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;
            text-align: right;
            &--16{
                font-family: var(--font-family-headline);
                color: var(--text-color-2);
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 32px;
                text-align: right;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }
            &--23 {
                font-family: var(--font-family-headline);
                color: var(--text-color-2);
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 32px;
                text-align: right;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }
        }
    }
}

.header-lowercontent {
    display: none;
    position: relative;

            &__text {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: left;
                    width: 200px;
                    height: 78px;
            
                    &--description {
                        font-family: var(--font-family-main);
                        color: var(--text-color-1);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 150%;
                    }
                }

            &__button {
                    margin-top: 20px;
                    align-self: start;
                    background-color: var(--background-color-3);
                }

    &__img{
        &--tasty{
            margin-right: 34px;
        }
    }
}

@media screen and (min-width: 1280px) {

    .page-header{
        min-height: 665px;
    }
    //desktop
    .header-uppercontent {
        margin-bottom: 0;

        &__logo{
            margin-left: 34px;
            margin-top: 37px;
        }

        &__navigation {
            z-index: 50;
            display: flex;
            visibility: visible;
        }

        &__button{
            display: flex;
            visibility: visible;
            margin-right: 34px;
            margin-top: 38px;
        }

        .nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            text-decoration: none;
            color: var(--text-color-1);

            &-item{
                text-decoration: none;
                justify-content: space-evenly;
                margin-right: 35px;
                margin-top: 37px;
                font-family: var(--font-family-main);
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                display: flex;
                align-items: center;
            }

            &__link{
                text-decoration: none;
                color: var(--text-color-1);

                &--activepage{
                    color: var(--text-color-2);
                }
            }
        }
    }

    .header-main {
        display: flex;
        visibility: visible;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        align-items: flex-start;

        &__title{
            margin-left: 115px;
            margin-top: 84px;
        }


        &__img {
                z-index: 20;
                position: absolute;
                top:-40px;
                left: 475px;
                border-radius: 50%;
                height: 538px;
                width: 538px;
                background-color: var(--background-color-4);
        
                &--ice {
                    position: relative;
                    padding: 56px 183px 75px 119px;
                }
            }

        &-info{
            display: flex;
            visibility: visible;
            justify-content: center;
            align-items: center;
            position: relative;
            align-self: flex-end;

            &__box {
                position: relative;
            
                &--1 {
                    position: absolute;
                    top: -120px;
                    right: 115px;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: var(--text-color-1);
                    margin-bottom: 41px;
                }
            
                &--2 {
                    position: absolute;
                    top: -50px;
                    right: 115px;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background-color: var(--text-color-1);
                }
            }
            
                &__text {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    font-family: var(--font-family-main);
                    color: var(--text-color-1);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: right;
                    &--16 {
                        font-family: var(--font-family-headline);
                        color: var(--text-color-2);
                        font-style: normal;
                        font-weight: 400;
                        font-size: 46px;
                        line-height: 53px;
                        text-align: right;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                    }
            
                    &--23 {
                        font-family: var(--font-family-headline);
                        color: var(--text-color-2);
                        font-style: normal;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 46px;
                        line-height: 53px;
                        text-align: right;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                    }
                }
        }
    }

    .header-lowercontent{
        display: flex;
        visibility: visible;
        justify-content: space-between;
        align-items: flex-start;

        &__text{
            z-index: 50;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            align-content: flex-start;
            justify-content: left;
            margin-top: 177px;
            margin-right: 300px;
            width: 200px;
            height: 78px;
            &--description{
                font-family: var(--font-family-main);
                color: var(--text-color-1);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
            }
            &--button{
                margin-top: 20px;
                align-self: start;
            }
        }

        &__img{
            &--milk{
                margin-top: 121px;
                margin-left: 77px;
                margin-bottom: 45px;

            }
            &--tasty{
                z-index: 50;
                margin-top: 100px;
                padding-top: 100px;
                margin-right: 109px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    //tablet
    .page-header{
        min-height: 399px;
    }

    .header-uppercontent {
        &__button {
            display: flex;
            visibility: visible;
        }
    }

    .header-main-info {
        display: flex;
        visibility: visible;
    }

    .header-lowercontent {
        display: flex;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    //mobile
}